.ytvideo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.ytvideo iframe {
  border: 2px solid rgba(162, 21, 238, 0.3);
  border-width: 5px;
  border-radius: 25px;
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 3px solid rgba(84, 12, 229, 0.3);
  box-shadow: 0 2px 4px rgba(162, 21, 238, 0.9);
  border-width: 1px;
  border-radius: 10px;
}
.ytvideo iframe:hover {
  border: 3px solid green;
  border-top: 5px solid rgb(227, 120, 142);
  border-top: 4px solid rgb(70, 60, 146);
  box-shadow: 0 2px 4px rgba(162, 21, 238, 0.9);
}

@media screen and (min-width: 768px) {
  .ytvideo {
    gap: 30px;
  }
  .ytvideo iframe:hover {
    border: 3px solid green;
    border-top: 5px solid rgb(227, 120, 142);
    border-top: 4px solid rgb(70, 60, 146);
    box-shadow: 0 2px 4px rgba(162, 21, 238, 0.9);
  }
}
